section.error-container {
    margin: 3.5rem 0;
    text-align: center;
    span.error-icon {
        font-size: 80px;
    }
    h1 {
        margin-top: 0.25rem;
        margin-bottom: 0.75rem;
    }
    p {
        width: 50%;
        margin: 0 auto;
    }
}