header.index {
    text-align: center;
    margin: 2rem 0 2rem 0;
    div.logo {
        width: $logo-width;
        display: inline-block;
        a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

header.immersive {
    font-family: $secondary-regular-font;
    background: 0 50% no-repeat $header-immersive-background;
    background-size: cover;
    color: #FFF;
    width: 100%;
    div.title {
        font-size: 18px;
        font-weight: 300;
        padding-top: 20px;
        margin-bottom: 7px;
        @media (min-width: $breakpoint-sm) {
            font-size: 24px;
        }
        a {
            color: #ffffff;
        }
        div.logo {
            margin-bottom: 75px;
            a {
                display: inline-block;
                width: $logo-width-immersive;
            }
        }
    }
    div.overlay {
        background: rgba(0, 0, 0, .65);
    }
    nav {
        a.item {
            background: $navitem-default-background;
            color: $navitem-default-color;
            display: inline-block;
            padding: 5px 15px;
            font-size: 12px;
            &:hover,
            &:focus {
                background: $navitem-hover-background;
                color: $navitem-hover-color;
            }
            &.active {
                &,
                &:hover,
                &:focus {
                    background: $navitem-active-background;
                    color: $navitem-active-color;
                }
            }
        }
    }
}

section.infobar {
    background: #FFF;
    color: #000;
    width: 100%;
    font-size: 12px;
    margin-bottom: 25px;
    padding: 10px 0;
    border-bottom: 1px #d7d7d7 solid;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        table-layout: fixed;
        li {
            display: table-cell;
            padding: 0;
            text-align: center;
            white-space: nowrap;
            a,
            a:hover,
            a:active {
                color: #000;
            }
        }
    }
}

main {
    background: $main-container-background;
    border: 1px $main-container-border solid;
    margin-bottom: 15px;
    padding: 20px 30px;
    @media (min-width: $breakpoint-lg) {
        padding: 40px 50px;
    } // index project tiles
    div.tile {
        position: relative;
        width: 100%;
        height: 250px;
        background-color: #000000;
        background-size: cover;
        background-position: center; // overlay container with dimmed background
        div.overlay {
            background-color: rgba(0, 0, 0, .5);
            transition: background-color .15s ease;
            width: 100%;
            height: 100%;
            z-index: 100;
            &:hover {
                background-color: rgba(0, 0, 0, .35);
            }
        }
        div.info {
            pointer-events: none; // top-right project icons
            div.icons {
                position: absolute;
                top: 0;
                right: 0;
                margin: 8px 8px 0 0;
                background-color: rgba(0, 0, 0, .5);
                padding: 2px 7px;
                ul {
                    font-size: 12px;
                    color: #fff;
                    margin: 0;
                }
            } // bottom-left project information
            div.content {
                position: absolute;
                bottom: 0;
                left: 0;
                color: #fff;
                padding: 0 0 15px 15px;
                text-shadow: 0 0 5px #000;
                span.title {
                    font-size: 20px;
                }
                p.summary {
                    margin: 0;
                    font-size: 13px;
                }
            }
        }
    }
    nav.page-navigation {
        width: 100%;
        margin: 0 auto;
        color: #909090;
        font-size: 12px;
        text-align: center;
        span.separator {
            padding: 0 25px;
        }
        a {
            color: #7b7b7b;
        }
    }
}