/* global */
$background: #fafafa;

/* primary font */
$primary-regular-font: 'Source Sans Pro';

/* secondary font */
$secondary-regular-font: 'Roboto';

/* breakpoints - bootstrap defaults */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* header logo image */
$logo-width: 150px;

/* immersive header logo image */
$logo-width-immersive: 95px;

/* article content */
$article-paragraph-color: #3a3a3a;

/* immersive header defaults */
$header-immersive-background: #323442;

/* main content box */
$main-container-background: #fff;
$main-container-border: #d7d7d7;

/* navigation items */
$navitem-default-background: rgba(0, 0, 0, 0.35);
$navitem-default-color: #fff;

$navitem-active-background: #fff;
$navitem-active-color: #000;

$navitem-hover-background: rgba(0, 0, 0, 0.65);
$navitem-hover-color: #fff;

/* release badge colors */
$release-badge-stable: #5f9d4c;
$release-badge-experimental: #b93c3c;
$release-badge-nightly: #603482;